
.container {
    overflow: hidden;
}

.left {
    transition: all 1s linear;
    transform: translateX(0);
}

.right {
    transition: all 1s linear;
    transform: translateX(0);
}

.bottom {
    transition: all 1s linear;
    transform: translateY(0);
}

.top {
    transition: all 1s linear;
    transform: translateY(0);
}

.topTranslate {
    transform: translateY(-550px);
    opacity: 0;
}

.bottomTranslate {
    transform: translateY(550px);
    opacity: 0;
}

.leftTranslate {
    transform: translateX(-550px);
    opacity: 0;
}

.rightTranslate {
    transform: translateX(550px);
    opacity: 0;
}

