* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
}

.container {
    width: 100%;
    height: 100%;
}

main {
    width: 80%;
    margin: 0 auto;
}

.heading-nav h1 {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

.heading {
    background-image: url(img/BG.png);
    padding-top: 35px;
    height: 1000px;
}

.heading-nav {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading-nav-link {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}

.heading-nav-link a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
}

.heading-content {
    width: 60%;
    height: 70%;
    margin: 0 auto;
    justify-content: flex-start;
    display: flex;
    align-items: center;
}

.heading-content h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 72px;
    color: #fff;
}

.heading-footer {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.heading-footer-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading-footer-link a {
    padding: 5px 0;
}

.heading-footer-pages {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 5%;
}

.heading-footer-pages a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}

.active {
    font-size: 42px;
    line-height: 40px;
}

.main-text {
    width: 65%;
    margin: 0 auto;
    text-align: center;
    padding: 70px 0 70px;
}

.main-text p {
    font-size: 22px;
    font-weight: 400;
    padding-bottom: 40px;
    line-height: 36px;
}

.main-text a {
    text-decoration: none;
    text-transform: uppercase;
}

.skills {
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

.block {
    width: 270px;
    height: 154px;
    background-color: #FDB157;
    position: relative;
    border-radius: 10px;
}

.wave {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wave::after {
    position: absolute;
    content: "";
    width: 470px;
    height: 440px;
    background-color: #FED09A;
    border-radius: 50%;
    animation: circle 9s linear infinite;
    top: -240%;
    left: -40%;
}

.wave::before {
    z-index: 2;
    content: "";
    position: absolute;
    width: 500px;
    height: 440px;
    background-color: #FCF8F3;
    border-radius: 50%;
    animation: circle2 9s linear infinite;
    top: -250%;
    left: -40%;
}

@keyframes circle{
    100% {
        transform: rotate(360deg);
    }
}

@keyframes circle2{
    100% {
        transform: rotate(360deg);
    }
}

.purple::after {
    background-color: #BFABF0;
}

.blue::after {
    background-color: #D7F4FA;
}

.blocks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 115px 0 150px;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
}

.block p {
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCF8F3;
    border-radius: 10px;
}

.card {
    display: flex;
    align-items: center;
}

.info-card {
    padding-left: 80px;
}

.info-card p {
    font-family: Roboto, sans-serif;
}

.info-card h2 {
    font-weight: 400;
    font-size: 22px;
    padding: 10px 0;
}

.info-card h3 {
    font-weight: 400;
    opacity: 40%;
}

.cards-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 180px;
    grid-column-gap: 100px;
}

.cards-flex {
    display: flex;
    justify-content: center;
}


.services-content {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.services-circle {
    position: relative;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid#41228E;
    z-index: 2;
    left: 10%;
}

.services-triangle {
    margin: 0 auto;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 35px solid gray;
    z-index: 1;
}

.services-ui {
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.services-active {
    background-color: #41228E;
    color: #fff;
    border-radius: 10px;
    transition: background-color .5s linear;
}

.services-ui.services-active h2 {
    font-size: 30px;
}

.services-ui h2 {
    padding: 50px 0 25px ;
    font-weight: 400;
    font-size: 22px;
}

.services-ui p {
    width: 70%;
    padding: 0 15px;
    line-height: 28px;
    font-weight: 400;
    font-size: 15px;
    font-family: Roboto, sans-serif;
    opacity: .7;
}

.portfolio-section {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 25px;
    grid-column-gap: 30px;
    grid-auto-rows: 280px;
}

.content-section {
    padding-top: 90px;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    transition: transform .5s linear;
}

.content-text {
    font-size: 22px;
    color: #fff;
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
}

.ceo-img {
    display: block;
    border-radius: 50%;
    margin: 0 auto;
}

.content-ceo h2 {
    padding: 15px 0 5px 0;
    font-weight: 400;
    font-size: 22px;
    color: #fff;
}

.content-ceo p {
    color: #fff;
    opacity: 40%;
}

.tabs {
    width: 55px;
    display: flex;
    position: absolute;
    bottom: 25%;
}

.tab {
    background-color: #707070;
    height: 5px;
    flex: 1;
    margin: 20px 2px 0 2px;
    border-radius: 30%;
    transition: flex .5s linear;
    opacity: .7;
    cursor: pointer;
}

.active-tab {
    flex: 3;
    opacity: 1;
    background-color: #fff;
    border-radius: 20%;
    transition: flex .5s linear;
}

.drag {
    border-radius: 10px;
    background-color: #BFABF0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: grab;
    transition: transform .3s linear;
}

.drag img {
    display: block;
    width: 100%;
    height: 100%;
}

.drag:active {
    position: relative;
    cursor: grabbing;
}

.active-move {
    cursor: move;
    border: 10px solid rgb(244, 255, 214);
}

.over {
    border: 1px solid black;
}

.hide {
    transform: scale(0.8);
    transition: transform .3s linear;
}

.sponsors {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 120px 0;
}

.blogs {
    height: 100%;
}

.blogs-content {
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 35px;
    padding: 100px 0;
}

.blogs-first-block {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 250, 250);
    border-radius: 5px;
}

.blogs-second-block {
    background-color: rgb(250, 250, 250);
    border-radius: 5px;
}

.blogs-title {
    font-size: 22px;
    font-weight: 400;
    line-height: 36px;
}

.blogs-text {
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    opacity: 70%;
    padding: 15px 0 30px;
}

.blogs-block-text {
    padding: 0 40px;
}

.blogs-first-block button {
    color: #41228E;
    background-color: #ded4f5;
    border: 0;
    border-radius: 5px;
    font-size: 15px;
    padding: 3px 10px;
    cursor: pointer;
}

.blogs-second-block button {
    color: #41228E;
    background-color: #e9d2b4;
    border: 0;
    border-radius: 5px;
    font-size: 15px;
    padding: 3px 10px;
    cursor: pointer;
}

.widthStandart {
    display: flex;
    overflow: hidden;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 800px;
}

.absolute {
    position: absolute;
}

.contact-block {
    width: 60%;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 2px -4px 20px 20px rgb(0 0 255 / 5%);
    margin-top: 90px;
    border-radius: 10px;
}

.form-context {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    width: 70%;
    padding-top: 70px;
    padding-bottom: 40px;
    grid-row-gap: 50px;
}

.container-form input {
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-bottom: 2px solid #707070;
}

textarea {
    border: none;
    resize: none;
    border-bottom: 2px solid #707070;
    height: 170px;
}

.send-btn {
    padding: 15px 140px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background-color: #41228E;
    color: #fff;
}

footer {
    width: 100%;
    background-color: #222222;
}

.footer-elements {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
    width: 80%;
    padding-top: 300px;
    padding-bottom: 100px;
}

.block-footer p {
    color: #707070;
    padding-bottom: 15px;
}

.block-footer a {
    color: #fff;
    text-decoration: none;
}

.footer-copy {
    text-align: center;
    padding-bottom: 60px;
    padding-top: 60px;
}

